<div class="w-full h-96 bg-light-purple">
    <header class="text-center justify-center align-items-center p-16">
        <!-- <div class=" justify-center align-items-center p-16 text-center"> -->
            <img src="../../assets/logo.svg" alt="logo">
            <h1 class="text-deep-purple text-6xl font-black leading-tight">
                <span class="capitalize">elevate your service game</span><br>
                :Collaboration is key!
            </h1>
            <p class="flex justify-center text-center">Boost customer satisfaction by harnessing collaboration to <br>turn challenges into exceptional experiences.</p>
        <!-- </div> -->
        
    </header>

    <!-- <section>
        <h1 class="text-deep-purple">Trusted by companies like:</h1>
    </section> -->
   
</div>
