<div class="w-full h-96 bg-light-purple">
    <header class="text-center justify-center align-items-center">
        <div class="flex justify-start align-items-center ml-24 text-2xl">
            <img src="../../assets/logo.png" alt="logo" class="h-16 w-16">
            <p class="font-black text-deep-purple mt-4">CUSTOMER SERVICE</p>
        </div>
        <div class="mb-24">
            <h1 class="text-deep-purple text-6xl font-black leading-tight ">
                <span class="capitalize">elevate your service game</span><br>
                :Collaboration is key!
            </h1>
            <p class="flex justify-center text-center mt-8">Boost customer satisfaction by harnessing collaboration to <br>turn challenges into exceptional experiences.</p>
        </div>
        </header>

    <section class="place-items-center justify-center">
        <h1 class="text-deep-purple text-center font-black text-4xl pt-10 pb-10">Trusted by companies like:</h1>
        <div class="flex justify-center align-items-center gap-32">
            <button class="bg-transparent border-none cursor-pointer hover:scale-110 transition-transform duration-200" id="preview-btn">  
                <img src="../../assets/left-arrow.svg" alt="previous" class="w-10 h-10" />  
            </button>  
            <div>
                <img src="../../assets/mtn-new-logo.svg" alt="eathealthy" class="h-64 w-64 object-cover rounded-full">
                <p class="place-items-center justify-center flex pt-2">MTN Ghana</p>
            </div>
            <div>
                <img src="../../assets/Eat healthy.jpg" alt="eathealthy" class="h-64 w-64 object-cover rounded-full">
                <p class="place-items-center justify-center flex pt-2">Eat Healthy Gh</p>
            </div>
            
            <div>
                <img src="../../assets/security.jpg" alt="eathealthy" class="h-64 w-64 object-cover rounded-full"> 
                <p class="place-items-center justify-center flex pt-2">Security</p>
            </div>
           <div>
            <img src="../../assets/McDonalds.jpg" alt="eathealthy" class="h-64 w-64 object-cover rounded-full">
            <p class="place-items-center justify-center flex pt-2">McDonalds</p>
           </div>
           <button class="bg-transparent border-none cursor-pointer hover:scale-110 transition-transform duration-200" id="next-btn">  
            <img src="../../assets/arrow-right.svg" alt="Next" class="w-10 h-10" />  
        </button> 
        </div>
    
        <p class=" text-center pb-10 pt-5">Join our million customers to share your experience.</p>
        <button class="w-32 h-12 bg-deep-purple rounded-md mb-10" style="color: #fff;">Join us now</button>
    </section>
    <footer>
        <img src="../../assets/footer.png" alt="">
    </footer>
   
</div>
