<div class="w-full h-96 bg-light-purple">
    <header class="text-center justify-center align-items-center">
        <!-- <div class=" justify-center align-items-center p-16 text-center"> -->
            <img src="../../assets/logo-with-text.svg" alt="logo" class="w-40 h-40 mr-10">
            <h1 class="text-deep-purple text-6xl font-black leading-tight">
                <span class="capitalize">elevate your service game</span><br>
                :Collaboration is key!
            </h1>
            <p class="flex justify-center text-center">Boost customer satisfaction by harnessing collaboration to <br>turn challenges into exceptional experiences.</p>
        <!-- </div> -->
        </header>

    <section class="place-items-center justify-center">
        <h1 class="text-deep-purple text-center font-black text-4xl pt-10 pb-10">Trusted by companies like:</h1>
        <div class="flex justify-center align-items-center gap-36">
            <div>
                <img src="../../assets/mtn-new-logo.svg" alt="eathealthy" class="h-64 w-64 object-cover rounded-full">
                <p class="place-items-center justify-center flex pt-2">MTN Ghana</p>
            </div>
            <div>
                <img src="../../assets/Eat healthy.jpg" alt="eathealthy" class="h-64 w-64 object-cover rounded-full">
                <p class="place-items-center justify-center flex pt-2">Eat Healthy Gh</p>
            </div>
            
            <div>
                <img src="../../assets/security.jpg" alt="eathealthy" class="h-64 w-64 object-cover rounded-full"> 
                <p class="place-items-center justify-center flex pt-2">Security</p>
            </div>
           <div>
            <img src="../../assets/McDonalds.jpg" alt="eathealthy" class="h-64 w-64 object-cover rounded-full">
            <p class="place-items-center justify-center flex pt-2">McDonalds</p>
           </div>
        </div>
        <p class=" text-center pb-10 pt-5">Join our million customers to share your experience.</p>
        <button class="w-32 h-12 bg-deep-purple rounded-md mb-10" style="color: #fff;" (click)="isPopupOpen">Join us now</button>
    </section>
    <footer>
        <img src="../../assets/footer.png" alt="">
    </footer>
   
</div>
